@import "colors";
@import "posts";
@import "inputcontainer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Playfair Display SC', serif;
  font-family: tahoma;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  color: whitesmoke;
}

body {
  background: $background-color;
}

.Navbar {
  height: 50px;
  width: 100vw;
  background-color: $nav-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0 55px;

  a {
    text-decoration: none;
    // color: whitesmoke;
    color: whitesmoke;

    font-size: 1.5rem;
    // border: 1px solid black;
    // border-bottom: 1px solid whitesmoke;
    // margin-left: 25px;
  }
}

.createCharFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $nav-background;
}

.Login {
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $background-color;

  input {
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
  }
  input:focus {
    border: none;
    outline: none;
  }
  a {
    text-decoration: none;
    color: $button-background;
    font-size: 2rem;
    // border: 1px solid black;
    border-bottom: 1px solid $button-background;
    margin-left: 25px;
  }
  button {
    background-color: $button-background;
    color: whitesmoke;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 2rem;
    margin-left: 35px;
  }
  button:focus {
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
}

.SignUpHeader {
  margin-bottom: 30px;
}
