// $background-color: #a6a6a8;
// $chat-background: #e8e9f3;
// $primary-font-color: #2a363b;
// $button-background: #424d41;
// $input-background: #d7ffd6;
// $nav-background: #5e705d;

$background-color: #e8e9f3;
$chat-background: #cecece;
$primary-font-color: whitesmoke;
$button-background: #272635;
$input-background: #cecece;
$nav-background: #272635;
$border-color: #bebad3;
$other-user-background-color: #403E51;
$curr-user-background-color:  #84809D;
// $curr-user-background-color: radial-gradient(ellipse at top, $background-color, #b1e5f2);
// $other-user-background-color: radial-gradient(ellipse at top, $background-color, #8fb6c3);